
/*!

=========================================================
* 述尔・Amore | 一个产品经理的碎碎念 | 一切从简
=========================================================

* Copyright 2021 Amore (https://www.amore.ink)

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/


* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
::selection {
	background-color:#28df99;
	color:#f9f9f9
}
*:focus {
	outline: none;
}
figure {
	margin-left:0
}
html {
	/*background-color:#fff;*/
	min-height:100%
}
body {
	max-width:720px;
	padding:0 20px;
	font:400 16px/1.7  PingFang SC, sans-serif;
	color:#444;
	margin:0 auto;
	overflow-x:hidden
}
body.dark-theme {
	max-width: 720px;
    padding: 0 20px;
    background-color: #292a2d;
    color: #a9a9b3;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}
a {
	text-decoration:none;
	color:#111;
	word-wrap:break-word;
	-moz-text-decoration-color:rgba(0,0,0,.4);
	text-decoration-color:rgba(0,0,0,.4)
}
a:hover {
	text-decoration:none;
	color:#555;
	-moz-text-decoration-color:rgba(0,0,0,.6);
	text-decoration-color:rgba(0,0,0,.6)
}
@font-face {
	font-family:bookmark;
	src: url('fonts/bookmark.TTF');
}
.mod-head {
	margin-top:40px;
	margin-bottom:60px;
	position:relative
}
.mod-head__title {
	display:none
}
.mod-head__nav {
	display:inline-block;
	margin-left:43px
}
.mod-head__ul {
	list-style:none;
	padding:0;
	margin:0
}
.menu-item {
	display:inline-block;
	height:26px;
	line-height:26px
}
.menu-item span {
	padding:0 10px
}
.active{
	color: red;
}
.mod-head__nav-item:last-child:after {
	padding:0;
	content:""
}
.mod-head__nav-item a {
	color:#535353;
	text-decoration:underline;
	display:inline-block;
	line-height:28px
}
.mod-head__nav-item a:hover {
	color:#222;
	border-color:#8cc1e0
}
.mod-head__logo {
	border-radius:1.3rem;
	display:inline-block;
	width:26px;
	height:26px;
	color:#fff;
	vertical-align:top;
	position:absolute;
	top:0;
	left:0
}
.mod-head__logo img {
	border-radius:50%;
	width: 36px;
	height: 36px;
}
.mod-archive__list li {
	line-height:50px;
	margin-bottom:2px;
	letter-spacing:0.2rem;
	list-style:none;
	border-bottom: 1px dashed #7777;
}
.mod-archive__year {
	color:#999;
    letter-spacing: 0.2rem;
font-family: "Microsoft JhengHei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; !important;
}
.mod-archive__time {
	color:#666;
	font-size:14px
}
@media screen and (max-width:500px) {
	.mod-archive__list li span,.mod-archive__list li time {
	/*display:none*/
}
}.mod-post__title {
	letter-spacing:0.08rem;
	font-size:18px;
	margin-bottom:60px
}
.mod-post__meta {
	font-size:9pt;
	color:#777;
	line-height:2em;
	border-left: solid 2px #28df99;
    padding-left: 15px;
    margin-bottom: 40px;
}
.mod-post__foot {
	font-size:9pt;
	color:#777;
	line-height:2em;
	margin-top:60px;
	border-left: solid 2px #28df99;
    padding-left: 15px;
}
.mod-post__poster {
	font-size:9pt;
	color:#777;
	line-height:2em;
	margin-top:10px;
	border-left: solid 2px #28df99;
    padding-left: 15px;
}
.mod-post__entry {
	font-size:11pt;
	text-align:justify
}
.mod-post__entry p {
	letter-spacing:0.08rem;
	margin-top:0;
	margin-bottom:30px;
	word-break:break-all
}
.dark-theme .mod-post__entry p {
	color: #a9a9b3;
}
.mod-post__entry strong {
	font-weight:600
}
.mod-post__entry img {
	max-width:100%;
	height:auto;
	border-radius: 5px;
}
.dark-theme .mod-post__entry img {
	opacity: 0.7
}
.mod-post__entry h2 {
	font-size:22px
}
.mod-post__entry h3 {
	font-size:19px
}
.mod-post__entry a {
	color:#707070;
}
.dark-theme .mod-post__entry a {
	color:#707070;
}
.mod-footer {
    font-family:bookmark;
	letter-spacing:1px;
	text-align:center;
	margin-top:50px;
	padding-bottom:20px;
	color:#888;
	font-size:13px;
}
.mod-footer p{
	letter-spacing:1px;
}
.mod-footer a {
	text-align:center;
	color:#888
}
.highlight pre {
	margin:1.64em 0;
	border:0;
	padding:9px 12px;
	overflow:auto;
	line-height:1.8;
	font-size:14px;
	font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
	color:#65737e;
	background-color:#eff1f5;
	border-radius:4px
}
.bookmark{
    width: 100%;
    text-align: left;   
    line-height: 45px; 
    letter-spacing: 0.8rem;
    font-family: "bookmark","Microsoft JhengHei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    font-size: 18px;
} 
.bookmark a{  
    letter-spacing: 0.13rem;
} 
blockquote {
	color: #707070;
	padding:0px 10px 0px 10px;
	margin:20px 0 20px 0;
	font-size:9pt;
	border-left:2px solid #888;
}
@media screen and (max-width:500px) {
	.mod-head {
	margin-bottom:40px
}
.mod-head__ul {
	display:none
}
.mod-post__entry {
	/*font-size:16px;*/
	line-height:1.5;
	text-align:justify
}
.mod-post__entry p {
	margin-bottom:2em;
	line-height: 2.4em;
}
}.linksul li {
	color:#999;
	font-size:16px;
	font-style:normal;
	line-height:40px
}
.linksul a {
	margin-right:5px
}
.linksul h2 {
	color:#444
}
.linkcat {
	list-style:none
}
.posts-nav span {
	font-size:14px;
	color:#777
}
.posts-nav a {
	font-size:14px;
	color:#777
}
.posts-nav {
	font-size:20px;
	color:#000;
	padding-top:20px
}
.posts-nav .page-numbers {
    letter-spacing: 0.15rem;
    font-size: 10pt;
	text-align:center;
	width:0;
	line-height:20px
}
.flip{
	position: relative;
}

.flip:before {
    content: '';
    position: absolute;
    top: 60%;
    height: 6px;
    left: -2px;
    width: 95%;
    background-color: #28df99;
    opacity: .6;
    transform: skew(-35deg);
    transition: opacity .2s ease;
    border-radius: 3px 8px 10px 6px;
    transition: 0.1s ease background-color;

}
.posts-nav .page-numbers.dots {
	border-color:transparent
}
.submit{
    margin-left: 15px;
    padding: 3px;
    border: 0;
    border-radius: 5px;
}
}

.panel {
	overflow-y:scroll;
	display:none;
	width:200px;
	color:#fff;
	background:#23282d
}
.panel li {
	list-style:none;
	width:100%;
	float:left;
	height:48px;
	line-height:48px;
	display:block;
	text-indent:24px
}
.panel li a {
	color:#a5a5a5;
	font-size:14px;
	text-decoration:blink;
	border-bottom:1px solid #2e3339;
	display:block
}
.ymod-head {
	padding:0;
	margin:0
}
pre {
    font-family: Courier New;
    background: #f1f6f9;
    padding: 10px 20px 10px 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    font-size:14px;
    white-space:pre-wrap;
	font-weight: 500;
	word-break: break-all;
}

.dark-theme pre {
    background: #393e46;
    white-space:pre-wrap;
	font-weight: 500;
	word-break: break-all;
}

code {
	font-family: Courier New;
	letter-spacing: 0.03rem;
	white-space:pre-wrap;
	font-weight: 500;
	word-break: break-all;
}

em{	
 padding-left:20px;
	line-height:1.8;
	font-size:14px;
	font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
	color:#65737e;
	}
#right-panel-link {
	display:none
}
#close-panel-bt {
	border:none;
	width:100%;
	background:0 0;
	color:#c1c1c1;
	text-align:left;
	text-indent:24px;
	font-size:20px;
	margin-top:20px;
	padding:0
}
.wzulli ol,.wzulli ul {
	overflow:auto;
}
.wzulli ol li,.wzulli ul li {
	word-break:break-all;
	padding-bottom:14px;
	word-wrap:break-word;
	color:#fff;
	font-size:14px
}
.aligncenter {
	clear:both;
	display:block;
	margin-left:auto;
	margin-right:auto
}
@keyframes fade-in {
	0% {
	opacity:0
}
40% {
	opacity:0
}
100% {
	opacity:1
}
}@-webkit-keyframes fade-in {
	0% {
	opacity:0
}
40% {
	opacity:0
}
100% {
	opacity:1
}
}.mod-archive,.mod-post {
	animation:fade-in;
	animation-duration:1s;
	-webkit-animation:fade-in 1s
}
.links {
	font-family:miranafont,"Hiragino Sans GB",STXihei,"Microsoft JhengHei",SimSun,sans-serif;
	margin-bottom:80px
}
.links ul {
	margin:0;
	list-style:none;
	padding:0;
	width:100%;
	display:inline-block;
	background-color:#fff
}
.links ul li {
	width:32%;
	float:left;
	border:1px solid #ECECEC;
	padding:10px 30px;
	margin:4px 4px;
	position:relative;
	overflow:hidden;
	-webkit-transition:all .3s;
	transition:all .3s
}
span.sitename {
	color:#red;
	padding-bottom:10px;
	display:block;
	-webkit-transition:all .3s;
	transition:all .3s
}

.link-title {
	font-weight:400;
	color:#6D6D6D;
	padding-left:10px;
	border-left:3px solid #A0DAD0;
	margin:50px 0 20px
}
.links ul li:before {
	content:"";
	background-color:#A0DAD0;
	-webkit-transform:skew(45deg,0);
	transform:skew(45deg,0);
	width:0;
	height:100%;
	position:absolute;
	top:0;
	left:-60px;
	z-index:-1;
	-webkit-transition:all .5s;
	transition:all .5s
}
.links ul li:hover {
	color:#red;
	border:1px solid #A0DAD0
}
.links ul li:hover:before {
	width:180%
}
.links ul li:hover .sitename {
	color:#red
}
.links ul li:hover .linkdes {
	color:#red;
	border-top:1px dashed #fff
}
span.linkss-title {
	font-size:25px;
	text-align:center;
	display:block;
	margin:50px 0 30px;
	font-family:miranafont,"Hiragino Sans GB",STXihei,"Microsoft JhengHei",SimSun,sans-serif;
	letter-spacing:5px
}
#comments a {
	border-bottom:none
}
#comments {
	font-size:13px
}
.comment-date {
    margin-left: 15px;
    padding-bottom: 10px;
    color: #999;
    font-size: 0.75rem;
    display: inline;
}
.comment-main {
	margin-left: 22px;
    font-size: 13px;
    border-bottom: .02rem dashed #9999;
}
.comment-meta {
	margin-top: 22px;
/*	margin-left: 22px;*/
	margin-bottom:10px
}
.post-content a,#comments .comment-content a {
	border-bottom:1px solid #ddd
}
.post-meta a:hover,.post-content a:hover,.widget a:hover {
	border-bottom-color:transparent
}
.post-content pre code,.comment-content pre code {
	padding:1.5em 2em
}
.post-content p code,.comment-content p code {
	display:inline;
	margin:0 5px;
	padding:3px 5px;
	border:1px solid #ddd
}
.comment-list,.comment-list ol {
	list-style:none;
	margin:0;
	padding:0
}
.comment-list {
	margin-top:10px
}
.comment-list li {
	padding: 0
}
.comment-list li.comment-level-even {
	/*background:#FFF*/
}
.comments-have {
    letter-spacing: 0.2rem;
    display: inline-block;
    margin-top: 5rem;
    font-size: 15px;
    border-bottom: solid 1px #888;
    padding-bottom: 10px;
}
.page-navigator {
      list-style: none;
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    margin-bottom: -40px;

}
.page-navigator li {
 color: #000;
    display: inline;
    padding: 0 15px;
}
.page-navigator a{
padding: 1px;
}
.page-navigator a:hover{
 color: #444;
    border-bottom: 1px solid #444;
}
.page-navigator .current a{
color:#444;
border-bottom:1px solid #444
}
.comments-header {
    letter-spacing: 0.2rem;
    display: inline-block;
    margin: 2rem 0 1rem 0;
    font-size: 20px;
    border-left: solid 2px #888;
    padding-left: 15px;
    margin-left:-10px;
}
.comment-list .comment-reply {
    font-size: 13px;
	margin-left: 15px;
}
.comment-meta a {
	color:#999;
	font-size:.92857em
}
.comment-author {
    display: inline-block;
    padding-left: 22px;
    border-left: 2px solid #28df99;
	/*margin-bottom: 1px;
    color: #969595;
    background-color: #eee;
    padding: 3px;
    border-radius: 3px;
    margin-top: 13px;*/
}
.comment-by-author cite.fn a:after {
    content: "博主";
    margin-left: .375rem;
    font-size: 0.3rem !important;
    color: #fff;
    background: #e8505b;
    border-radius: .1rem;
    padding: .0425rem .1475rem;
}

/*.comment-author a{
    display: inline-block;
	    margin-bottom: 1px;
    color: #969595;
    background-color: #eee;
    padding: 3px;
    border-radius: 3px;
}*/
.comment-author .avatar {
	float:left;
	margin:6px 7px 0 0;
	border-radius:50px;
	width:32px;
	padding:1px
}
.comment-author cite {
	font-style:normal;
	line-height:1.2
}
.comment-awaiting-moderation {
	font-style:normal;
	float:right;
	margin-top:-20px;
	color:#777
}
.comment-list .respond {
	margin:15px 0;
	border-top:1px solid #ddd
}
.comment-body .respond {
	border:none;
	margin:0 0 25px
}
.comment-children {
	margin-top: 22px;
	padding-left: 22px;
    /*border-left: 0.2px dashed #9999;*/
}
.respond .cancel-comment-reply {
	    margin-top: 25px;
    font-size: 13px;
    letter-spacing: 0.1rem;
    font-weight: 100;
}
#comment-form {
	padding-top:5px
}
#comment-form label {
	display:block;
	color:#888;
	position:relative;
	margin:1px 1px
}
#comment-form input {
	padding: 20px;
    margin-top: 11px;
    padding-left: 10px;
    background: none;
    color: #555;
    width: 32.5%;
    height: 30px;
    font-size: 13px;
    border: none;
    border-bottom: 0.2px dashed #9999;
}

#comment-form input:hover {
	border: none;
    border-bottom: 1px dashed #28df99 !important;
}

button.submit {
    width: auto;
    height: 28px;
    font-size: 14px;
    padding: 0;
    float: right;
    border: none;
    background: none;
    color: #333;
    letter-spacing: 0.58rem;
    cursor: pointer;
}

.dark-theme button.submit {
	color: #a9a9b3;
}
button.submit:hover {
	/*color: #fff;*/
}
textarea {
	overflow:visible;
	padding-left:8px;
	vertical-align:top;
	width:100%
}
.dark-theme textarea {
	color: #a9a9b3;
}
/*input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],textarea {
    color: #666;
    border: 1px solid #fff;
    background-color: #fafafa;
    border-radius: 3px;
    width: 30%;
    height: 30px;
    outline: 0;
}*/
#comment-form textarea {
    font-family: "Microsoft JhengHei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    border: none;
    background: none;
    border-bottom: 0.2px dashed #9999;

}
#comment-form textarea:hover {
	 border: none;
    border-bottom: 1px dashed #28df99 !important;
}
.col2 p,.col1 p {
	margin:10px 0
}
.col2 input {
	width:100%
}
.col1 {
	width:100%;
	position:relative;
	background-position:0 0
}
.col2 {
	max-width:400px;
	position:relative;
	background-position:right top
}
.widget-title {
	font-size:15px;
	margin:15px 26px 0;
	padding-bottom:10px;
	font-weight:normal
}
#comments .widget-title {
	color:#6E7173;
	line-height:2.7;
	margin-top:0;
	font-size:16px;
	border-bottom:0px solid #ddd;
	display:block;
	margin:0;
	padding-bottom:0px
}
.widget {
	margin-bottom:30px
}
.widget ul {
	margin:0;
	padding:0;
	list-style:none
}
.widget ul li {
	line-height:1.72
}
.widget-list {
	list-style:none;
	padding:0;
	margin:50px 0 0 -1px
}
.widget-list2 {
	margin:0
}
.widget-list li {
	margin:0;
	line-height:1.5
}
.widget-list li span {
	text-transform:uppercase;
	color:#ccc
}
.date-month {
	font-size:12px;
	margin-right:10px;
	display:inline-block;
	width:3em
}
.widget-list h3 {
	margin:0;
	font-size:13px
}
.widget-list h3 a {
	display:block;
	margin:0;
	line-height:1.7;
	padding:.4em 25px .4em 26px;
	font-weight:normal;
	color:#ccc
}
.widget-list h3 a.active,.widget-list h3 a.active:hover,.widget-list h3 a:hover {
	background-color:#666;
	color:#fff;
	text-decoration:none
}
.widget-list a:hover span {
	color:#fff
}
.widget-list h3 a:hover {
	color:#fff;
	background-color:#666
}
#response {
	margin-bottom:1em
}
.error-page {
	margin-top:100px;
	margin-bottom:100px
}
.comment-content {
	letter-spacing:0.1rem;
	line-height:2.0;
	word-wrap:break-word;
	padding:10px 40px 10px 0;
	font-size:14px
}
.post-content h2,.comment-content h2 {
	font-size:1.28571em
}
.comment-content img {
	max-width:100%
}
.post-content a img {
	background:#FFF;
	position:relative;
	bottom:-4px
}
.post-content hr,.comment-content hr {
	margin:2.4em auto;
	border:1px solid #ddd;
	border-width:1px 0 0 0;
	position:relative
}
.aligncenter,div.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto
}
.alignleft {
	float:left
}
.alignright {
	float:right
}
img.alignleft {
	margin:5px 15px 0 0
}
img.alignright {
	margin:5px 0 0 15px
}
#comments .pagination {
	margin:35px 0 30px 0;
	text-align:center
}
element.style {
	position:fixed;
	top:0px;
	height:100%;
	z-index:999999;
	left:auto;
	right:0px;
	display:block
}
@media print,screen and (max-width:767px) {
	#comments {
	margin:10px 0px
}
}* {
    letter-spacing: 0.08rem;
	padding:0;
	margin:0
}
.float-right {
	float:right
}
.fa {
	font-size:.8em;
	line-height:22px !important
}
dropdown {
	position:fixed;
	top:30px;
	right:20px;
	display:inline-block;
	z-index:0
}
dropdown label,dropdown ul li {
	display:block;
	width:100px;
	background:#fff;
	padding:10px;
	color:#555;
	letter-spacing:0.15rem
}
dropdown label:hover,dropdown ul li:hover {
	background:#fff;
	color:#555;
	cursor:pointer
}
dropdown label {
	background:rgba(0,0,0,0);
	border-radius:0 5px 0 0;
	position:fixed;
	z-index:1
}
dropdown input {
	display:none
}
dropdown input ~ ul {
	position:relative;
	visibility:hidden;
	opacity:0;
	top:-20px;
	z-index:0
}
dropdown input:checked + label {
	background:rgba(255,255,255,0);
	color:#555
}
dropdown input:checked ~ ul {
	visibility:visible;
	opacity:0.8;
	top:0
}
$colors:#E74C3C,#0072B5,#2C3E50;
	@for $i from 1 through length($colors) {
	dropdown ul li:nth-child(# {
	$i
}
) {
	border-left:4px solid nth($colors,$i);
	.fa {
	color:nth($colors,$i)
}
&:hover {
	background:nth($colors,$i);
	color:white;
	.fa {
	color:white
}
}}}.animate {
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-ms-transition:all .3s;
	-ms-transition:all .3s;
	transition:all .3s;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden
}
@media screen and (max-width:768px) {
	.animate {
	font-family: bookmark;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-ms-transition:all .3s;
	-ms-transition:all .3s;
	transition:all .3s;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden
}
.animate a{
	color:#444;
font-size:15px;
}
.comment-author {
    display: inline-block;
	margin-bottom: 1px;
    color: #999;
/*    background-color: #eee;*/
/*    padding: 0px 2px;*/
/*    border-radius: 3px;*/
    margin-top: 13px;
	font-size:13px;
}
.comment-author a{
    display: inline-block;
	margin-bottom: 1px;
    color: #999;
    padding: 0px 2px;
    border-radius: 3px;
	font-size:13px;
}
.mod-footer {
        font-family:bookmark;
	letter-spacing:1px;
	text-align:center;
	margin-top:50px;
	padding-bottom:5px;
	font-size:13px
}
#comment-form input {
    width: 100%;
}
/*}.tags a {
	color: #fff;
    margin-right: 10px;
    line-height: 50px;
    background-color: #a58bff;
    border-radius: 10px;
    padding: 2px 8px;
    font-size: 12px;
    letter-spacing: 0;
}*/
}.tags a {
    margin-right: 10px;
    font-size: 13px;
}

.tags span {
	color: #b7b7b7;
}

.dark-theme .tags a {
	/*background-color: #a58bff;*/
    color: #a9a9b3;
}

.dark-theme .tags span {
	color: #aaaa;
}

.tags li {
	list-style:none;
	text-decoration:none;
	color:#777;
	margin-right:10px;
	float:left
}
.tags a:before {
	content:'';
	color:#999
}

.linkdes {
    color: #949494;
    font-size: 13px;
    border-top: 1px dashed #7777;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: all .5s;
    transition: all .5s;
}

ul li.links{
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

ul li.links{
    list-style: none;
    float: left;
    width: 48.8%;
    height: auto;
    border: 1px dashed #7777;
    padding: 15px 30px;
    margin: 4px 4px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    }
ul li.links a{
    color: #28df99;
    line-height: 2.8;
    font-weight: 800;
    }

.dark-theme ul li.links a{
    color: #28df99;
    line-height: 2.8;
    font-weight: 800;
    }

ul li.links span{
	display: block;
    color: #ff6f6f;
    line-height: 2;
    padding-top: 6px;
    }

ul li.links span:before {
    content: "";
    background-color: #df846c;
    -webkit-transform: skew(45deg,0);
    transform: skew(45deg,0);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -60px;
    z-index: -1;
    -webkit-transition: all .5s;
    transition: all .5s;
}

@media screen and (max-width:500px) {
	ul li.links{
    list-style: none;
    float: left;
    width: 98%;
    height: auto;
    border: 1px dashed #7777;
    padding: 15px 30px;
    margin: 4px 4px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    }
}




      .progress {
                position:fixed;
                height: 2px;
                background:#2085c5;
                transition:opacity 500ms linear
            }
            .progress.done {
                opacity:0
            }
            .progress span {
                position:absolute;
                height:2px;
                -webkit-box-shadow:#2085c5 1px 0 6px 1px;
                -webkit-border-radius:100%;
                opacity:1;
                width:150px;
                right:-10px;
                -webkit-animation:pulse 2s ease-out 0s infinite;
            }

            @-webkit-keyframes pulse {
                30% {
                    opacity:.6
                }
                60% {
                    opacity:0;
                }
                100% {
                    opacity:.6
                }
}

.beian {
	margin-bottom: 45px;
}

/*--------------------------------------------------------------
# Start SiteAge
--------------------------------------------------------------*/

#SiteAge {
    animation: change 20s infinite;
}

@keyframes change {
    0% {
        color: #77e37f;
    }
    25% {
        color: #8965e0;
    }
    50% {
        color: #f5365c;
    }
    75% {
        color: #fcda04;
    }
    100% {
        color: #11cdef;
    }
}

@media screen and (min-width:768px) {
#back-to-top {
    position: fixed;
    width: 32px;
    height: 32px;
    right: 10px;
    bottom: 10px;
    background: #28df99;
    color: #fff;
    font-weight: 800;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    display: none;
	}
}

.fa-angle-up:before {
    content: "";
    background-image: url('./backtotop.svg');
}